# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# IDE settings
.idea/

# Environment variables file
config.ini

# Downloads directory
downloads/

# Ignore any other log or temporary files
*.log
*.tmp

# Node.js modules
react/backend/node_modules/
/node_modules

# Ignore package files in react and backend directories
react/package.json
react/package-lock.json
react/backend/package.json
react/backend/package-lock.json
react/backend/.env
react/package.json
react/package-lock.json
.idea/workspace.xml
/downloaded_media
