# Ignore configuration file
config.ini

# Ignore session files
tele1.session

# Ignore IDE configuration directory
.idea/

# Ignore Python cache directories
__pycache__/

# Ignore backend node_modules
react/backend/node_modules/
