# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore backend package files
/backend/package.json
/backend/package-lock.json

# Ignore root package files (if any)
/package.json
/package-lock.json

./backend/.env