.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eeeeee;
    color: #2B547E;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    
   
}

.auth-button:hover {
    background-color: #2B547E;
}

.auth-link {
    cursor: pointer;
    color: #2B547E;
}

.auth-link:hover {
    text-decoration: underline;
}
