

body {
    font-family: 'Arial', system-ui;
    background-color: #2B547E; /* Telegram primary color */
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #DBE9FA;
    }

#root{
    background-color: #2B547E;
    height: 150%;
    
}

ul {
    list-style: none;
    padding: 0;
}

