body {
    font-family: 'Arial', system-ui;
    background-color: #0088cc; /* Telegram primary color */
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
