.main-container {
    background-color: #990000;
    color: black;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    position: absolute; /* Absolute positioning */
    padding: 20px ;
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    border-radius: 8%;
    display: flex;
    justify-items: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  
  .table-container {
    margin-top: 20px; 
  }
  