.main-container {
    background-color: #7493A2;
    color: black;
    flex-direction: column; 
    justify-content: center; 
    position: absolute; 
    padding: 20px ;
    top: 15%; 
    left: 17%; 
    border-radius: 8%;
    display: flex;
    justify-items: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow-anchor: auto;
  }
  
  .table-container {
    margin-top: 20px; 
  }
  