.main-container {
  font-family: 'Courier Prime', monospace;
    background-color: #7493A2;
    color: black;
    width: 85%;
    left: 10%; 
    justify-content: center; 
    position: absolute; 
    display: flex;
    align-items: center; 
    min-height: 50vh; 
    font-family: 'Courier Prime', monospace;
  }
