cffi
click
colorama
cryptg
cryptography
dnspython
et-xmlfile
joblib
nltk
numpy
openpyxl
pandas
pip
pyaes
pyasn1
pycparser
pymongo
pyOpenSSL
python-dateutil
pytz
regex
rsa
scikit-learn
scipy
setuptools
six
Telethon
textblob
threadpoolctl
tqdm
tzdata
