.td-nav-bar .current-time{
    margin-inline-end: 16px;
    color: #DBE9FA;
}

.navbar-container{
    background-color:#2B3856;
    color: #DBE9FA;
    padding: 10px; 
    display: flex;
    justify-content: space-around; 
    width: 100%;
    position: fixed; 
    top: 0; 
    bottom: 88%;
    z-index: 1000; 
}