
  .sidebar-container{
    position: absolute;
    margin:20px auto;
    padding:10px 0px 20px 0px;
    border:2px solid #111;
    border-radius: 8px;
    box-shadow:0px 4px 5px rgba(255, 255, 255, 1);
    width: 230px;
    background-color:#0088cc;
    color: #e9eff3;
    z-index: 1200;
    
  }
  .sidebar-icon{
    color: #e9eff3;
  }
  
  .sidebar-box{
    color: #e9eff3;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center; 
       
  }

  .sidebar-greeting {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
  }
  
  .link{
    font-size:16px;
    position: relative;
    text-align: center; 
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
  }

  .link::after{
      content: '';
      position: absolute;
      width: 80%;
      border-bottom: 3px solid rgba(255,255,255, 0.5);
      bottom: 50%;
      left: -100%;
      transition-delay: all 0.5s;
      transition: all 0.5s;
  }

  .link:hover:after, 
  .link.hover:after {
    left: 100%;
  }

  .link .text {
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition: all 0.75s;
    transform: translateY(100%) translateZ(0);
    transition-delay: all 0.25s;
  }

  .link:hover .text, 
  .link.hover .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
    transform: translateY(0%) translateZ(0) scale(1.1);
    font-weight: 600;
  }

  /* 
  
margin: 10px;  All sides 
margin-top: 10px; Top side 
margin-right: 10px; Right side 
margin-bottom: 10px;  Bottom side 
margin-left: 10px; Left side 

padding: 10px;  All sides 
padding-top: 10px;  Top side 
padding-right: 10px;  Right side 
padding-bottom: 10px;  Bottom side 
padding-left: 10px;

position: static | relative | absolute | fixed | sticky;

top: 10px;
right: 10px;
bottom: 10px;
left: 10px;

display: block | inline | inline-block | flex | grid | none;
flex: 1; Flex-grow 1, flex-shrink 1, flex-basis auto 

align-items: center;
justify-content: center;
width: 100px;
height: 100px;

  */